---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- {{ site.title }}</title>
</head>
<body>
    <main>
        <section>
            {% for c in site.collections %}
            <h3>{{c.label}}</h3>
             {% for f in c.files %}
              <a href="{{f.path| remove: '_'}}">{{f.name}}</a> <br>
             {% endfor %}
             <hr>
            {%  endfor %}
        </section>
    </main>
</body>
</html>
