h1 {
    text-align: center;
    font-size: 3.5rem;
}

h1, h2 {
    font-weight: 200;
}

h3 {
    margin: 2rem 0 0 0;
    font-weight: 700;
}

section > div.container {
    margin: 20px 15px;
}

img {
    margin-top: 25px;
    width: auto;
    max-width: 100%;
    border: thick double brown;
}

section.section {
    margin-top: 60px;
}

section.section p::first-letter {
    font-size: 3rem;
}

section.section p::first-line {
    color: chocolate;
}

section.section > h2::after {
    content: '';
    border-bottom: 1px solid black;
    width: 100%;
    position: absolute;
    display: block;
    margin-top: .35em;
}

#animated {
    position: relative;
    animation-duration: 10s;
    animation-name: creep;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes creep {
    0% {left: 0}
    25% {left: 100px}
    75% {left: -100px}
    100% {left: 0}
}